<html>
		<head th:replace="~{base :: headed}"></head>
		<div th:replace="~{base :: log}"></div>
	<body>
	
	<div class="container">
		<div class="jumbotron mb-2 mt-2">
			<h1 class="display-4">Ultimos Encontros</h1>
		</div>
    </div>
		<div class="container mb-2"  th:each="pedido : ${pedidos}">
			<h2>Dados da Negociação</h2>
			<div class="card mb-3">
				<div class="card-header alert-dark" th:text="${pedido.nome}"> </div>
				<div class="col-md-5">Disciplina: <span th:text="${pedido.disciplina}"></span></div>
				<div class="col-md-5">Nome do Usuario: <span th:text="${pedido.usuario}"></span></div>
			</div>
		</div>
	</body>
</html>